.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header{
  z-index: 1000;
}

.App-link {
  color: #09d3ac;
}

.backgroundStyle{
  padding: 1%;
  border: 15px solid #bd4f6c;
  height: 100vh;
  background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
  object-fit: scale-down;
  position: relative;  
}

.metImageInner{ 
  border-radius: 15%;
  max-width: 50%;
  max-height: 100%;
  overflow: hidden;
  float: left;
  border: 5px solid black;
}
.tableResponse{
  word-break: break-all;
  display: inline;
  text-align: left;
}
.scrollBox{
 display: inline-block;
 height:600px;
 width: 50%;
 widows: 500px;
 border:1px solid #ccc;
 font:16px/26px Georgia, Garamond, Serif;
 overflow:auto
}

.list>*{
  display: inline-block;
  width: 50%;
}
.mainImages{
  height: auto;
}
.innerNum{ 
    display: inline-block;
    top: 50%;
    padding-top: 200px;
}

img{
  max-width: 100%;
  max-height: 100%;
}

body{
  border: 15px solid #bd4f6c;
}